html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgray;
}

a:hover {
    color: darkred;
}

a {
    color: black;
}

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#header {
    background-color: darkgray;
    font-size: 200%;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.footer p {
    text-align: center;
}

.flex-item-center {
    align-self: center;
}

.nav-container {
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding: 10px;
}

.navbar {
    font-size: 1.5rem;
}

.nav-container a{
    margin: 10px;
}

.docs-navbar {
    margin-left: auto;
}

#content {
    padding: 20px;
    margin: auto;
    width: 80%;
}

