{# templates/home.html.twig #}

{% extends 'base.html.twig' %}

{% block title%}Card{% endblock %}

{% block content %}

        <p><a href="{{ path('card_deck') }}">Deck</a></p>
        <p><a href="{{ path('card_deck_shuffle') }}">Shuffle</a></p>

{% endblock content %}
