{# templates/home.html.twig #}

{% extends 'base.html.twig' %}

{% block title%}Shuffle{% endblock %}

{% block content %}

    <div class='card-grid'>
    {% for card in deck.deck %}
       {% set suit = card.getColor() %}
            <div class='card {{ suit }}'>
                <p>{{ card.getValue() }}</p>
                <p class='suits'>{{ suits[suit] }}</p>
            </div>
    {% endfor %}
    </div>

{% endblock content %}
