{# templates/game/info.html.twig #}

{% extends 'base.html.twig' %}

{% block title%}Game{% endblock %}

{% block content %}

    {{ include('game/info.markdown.twig')|markdown_to_html }}
    <p><a href="{{ path('game_report') }}">Game Docs</a></p>

{% endblock content %}
