{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block content %}
<div class='book-grid'>

        {{ include('sideBar.html.twig')}}

    <div class='bibliotek-container'>
            <h2>Mitt Bibliotek</h2>
            <p>Ett CRUD med doctrine</p>
    </div>

</div>
{% endblock %}
