{# templates/home.html.twig #}

{% extends 'base.html.twig' %}

{% block title%}Card{% endblock %}

{% block content %}

        <p><a href="{{ path('home_page') }}">Home</a></p>

{% endblock content %}
