{# templates/footer.html.twig #}

    <div id='footer'>
        <p>by toza21</p>

        <a href="https://symfony.com/doc/current/index.html">Symfony.com</a>
        <a href="https://github.com/dbwebb-se/mvc">Github</a>
    </div>
