{# templates/home.html.twig #}

{% extends 'base.html.twig' %}

{% block title%}Home{% endblock %}

{% block content %}
<img src="{{ absolute_url('images/street-krakow_640.jpg') }}" alt="Krakow"/>

    <p>Under ett upprop i 7;de klass presenterade min gympalärare mig inför klassen med några väl valda ord.
"Det här är Tomas Zwolinski, han är ny här. Dagen han föddes var det ett stort grönt moln över Krakow." /Jofa
Jofa var bäst. Han är rektor på samma skola idag och han är nog lika bäst som rektor. Hursomhelst.</p>
<p>Jag föddes i Krakow för väldigt länge sedan men minns tyvär inte färgen på molnet.
När jag var 4 år så packade mina föräldrar vår lilla Skoda med det viktigaste och köpte en båtbiljett till Sverige.
Pappa har berättat att det gick inte så fort för han trodde att den stackars Skodan skulle skaka sönder i hastigheter över 70.</p>
<p>Vi flyttade in hos min farbror i Solna och bodde där i några månader till vi fick en egen lägenhet.
Mamma och Pappa började jobba och jag käkade sand på dagis. 
Jag idrottade mycket som liten. Fotboll, basket och friidrott var det jag gillade bäst. 
Sen började pappa intressera sig för datorer och det intresset smittade över på mig, sakta men säkert
blev det mindre idrott o mer leka med farsans dator i mitt liv.</p>
<p>Jag blev väldigt skoltrött i slutet av högstadiet så valet på en praktisk inriktning för gymnasiet föll sig naturligt.
Det gick en reklam på TV där en målare kliver ur en splitter ny Porsche, med en sån bil får man nog massor av tjejer tänkte jag.
Så jag blev målare. Helt obegriplig tankebana, jag vet. Men jag var bara 14 år och får väl skylla det på hormonerna.
Jag har jobbat inom byggbranschen alldeles för länge nu och känner att jag vill skola om mig innan jag blir för gammal.</p>
<p>ps/ kör en Ford och har aldrig ägt en Porsche :(</p>

{% endblock content %}
