{# templates/navbar.html.twig #}

    <div id='navbar'>
        <a href="{{ path('home_page') }}">Home</a>
        <a href="{{ path('about_page') }}">About</a>
        <a href="{{ path('report_page') }}">Report</a>
        <a href="{{ path('card_home') }}">Card</a>
    </div>
