    <div class='side-bar'>
        <ul>
        <li><a href="{{ path('app_product') }}">Bibliotek</a></li>
        <li><a href="{{ path('product_show_all') }}">Alla Böcker</a></li>
        <li><a href="{{ path('create_product') }}">Skapa ny bok</a></li>
        </ul>
    </div>
