{% extends 'project/project_base.html.twig' %}

{% block title %}Om projektet{% endblock %}

{% block content %}

    {{ include('project/docs_navbar.html.twig')}}

    <div>
        <h1>About project</h1>
        <h1>TODO link to phpdoc</h1>
        <h1>TODO link to phpmetrics</h1>
        <h1>TODO link to remote repo</h1>
        <h1>TODO link to scrutinizer</h1>
    </div>

{% endblock %}
