{% extends 'project/project_base.html.twig' %}

{% block title %}Om projektet{% endblock %}

{% block content %}

    <div>
        {{ include('project/about.markdown.twig')|markdown_to_html }}
    </div>

{% endblock %}
