<div class='footer-container'>

    <div class="footer">
        <p>Projekt spec</p>
        <a href="https://dbwebb.se/kurser/mvc-v2/kmom10">dbwebb.se</a>
    </div>

    <div class="footer flex-item-center">
        <p>by toza21</p>
    </div>

    <div class="footer">
        <p>Länkar</p>
        <a href="https://symfony.com/doc/current/index.html">Symfony.com</a>
        <a href="https://github.com/dbwebb-se/mvc">Github</a>
        <a href="https://scrutinizer-ci.com/docs/">Scrutinizer</a>
        <a href="https://phpmetrics.org/index.html">PHPmetrics</a>
        <a href="https://www.phpdoc.org/">PHPdocs</a>
    </div>
</div>
