{% extends 'project/project_base.html.twig' %}

{% block title %}Projekt{% endblock %}

{% block content %}

    {#
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    #}

    <div>
        <h1>Mitt Projekt</h1>
        <h1>Mitt Projekt</h1>
    </div>

        {{ render_chart(chart) }}

{% endblock %}
