<div class='nav-container'>
    <div class="navbar">
        <a href="{{ path('project') }}">Home</a>
        <a href="{{ path('project-about') }}">About</a>
    </div>
    <div class='docs-navbar'>
        <a href="../../docs/api/index.html">PHPdoc</a>
        <a href="../../docs/metrics/index.html">PHPmetrics</a>
        <a href="https://github.com/tomas-zw/mvc_report.git">Github</a>
        <a href="https://scrutinizer-ci.com/g/tomas-zw/mvc_report/?branch=main">Scrutinizer</a>
    </div>
</div>
